
body, html {
    width: 100%;
    /* height: 100vh; */
    /* height: 100%; */
    margin: 0;
    /* margin: 100px 0 0 0; */
    padding-top: 7px;
    margin-bottom: 3px;
    background-image: linear-gradient(180deg, #ce4993 5%, #ee5d6c 7%,#fb9062 4.8%);
    background-color: #fb9062;
    background-repeat: no-repeat;
}

body {

    height: 99%;
    background-repeat: no-repeat;
}

p{
  margin-top: 10px;
}

canvas {
    background: teal;
    background-image: linear-gradient(180deg,#3D76E0, #00FEEF, #09EBEE, #19CEEB, #28ACEA, #388EE9, #3D76E0, blue);
    opacity: .8;
    margin-top: .5%;
    /* width: 100%;
    height: 97.15%; */
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: auto;
    cursor: url(../images/dolphinright/0.gif) 107 38, auto;
      -webkit-animation: cursor 400ms infinite;
        animation: cursor 400ms infinite;
}

@-webkit-keyframes cursor {
 0% {cursor: url(../images/dolphinright/0.gif) 107 38, auto;}
  5.55% {cursor: url(../images/dolphinright/0.gif) 107 38, auto;}
  11% {cursor: url(../images/dolphinright/1.gif) 107 38, auto;}
  16.55% {cursor: url(../images/dolphinright/2.gif) 107 38, auto;}
  22% {cursor: url(../images/dolphinright/3.gif) 107 38, auto;}
  27.55% {cursor: url(../images/dolphinright/4.gif) 107 38, auto;}
  33% {cursor: url(../images/dolphinright/5.gif) 107 38, auto;}
  38.55% {cursor: url(../images/dolphinright/6.gif) 107 38, auto;}
  44% {cursor: url(../images/dolphinright/7.gif)107 38, auto;}
  49.55% {cursor: url(../images/dolphinright/8.gif)107 38, auto;}
  55% {cursor: url(../images/dolphinright/9.gif)107 38, auto;}
    60.55% {cursor: url(../images/dolphinright/10.gif)107 38, auto;}
  66% {cursor: url(../images/dolphinright/11.gif)107 38, auto;}
  71.55% {cursor: url(../images/dolphinright/12.gif)107 38, auto;}
  77% {cursor: url(../images/dolphinright/13.gif)107 38, auto;}
  82.55% {cursor: url(../images/dolphinright/14.gif)107 38, auto;}
    88% {cursor: url(../images/dolphinright/15.gif)107 38, auto;}
  93.55% {cursor: url(../images/dolphinright/16.gif)107 38, auto;}
  100% {cursor: url(../images/dolphinright/17.gif)107 38, auto;}
} 

@keyframes cursor {
    0% {cursor: url(../images/dolphinright/0.gif) 107 38, auto;}
  5.55% {cursor: url(../images/dolphinright/0.gif) 107 38, auto;}
  11% {cursor: url(../images/dolphinright/1.gif) 107 38, auto;}
  16.55% {cursor: url(../images/dolphinright/2.gif) 107 38, auto;}
  22% {cursor: url(../images/dolphinright/3.gif) 107 38, auto;}
  27.55% {cursor: url(../images/dolphinright/4.gif) 107 38, auto;}
  33% {cursor: url(../images/dolphinright/5.gif) 107 38, auto;}
  38.55% {cursor: url(../images/dolphinright/6.gif) 107 38, auto;}
  44% {cursor: url(../images/dolphinright/7.gif)107 38, auto;}
  49.55% {cursor: url(../images/dolphinright/8.gif)107 38, auto;}
  55% {cursor: url(../images/dolphinright/9.gif)107 38, auto;}
    60.55% {cursor: url(../images/dolphinright/10.gif)107 38, auto;}
  66% {cursor: url(../images/dolphinright/11.gif)107 38, auto;}
  71.55% {cursor: url(../images/dolphinright/12.gif)107 38, auto;}
  77% {cursor: url(../images/dolphinright/13.gif)107 38, auto;}
  82.55% {cursor: url(../images/dolphinright/14.gif)107 38, auto;}
    88% {cursor: url(../images/dolphinright/15.gif)107 38, auto;}
  93.55% {cursor: url(../images/dolphinright/16.gif)107 38, auto;}
  100% {cursor: url(../images/dolphinright/17.gif)107 38, auto;}
}

.leftist{
  margin-left: 200px;
}

a{
    text-align: center;
    font-family: FreeMono;
    font-style: italic;
    margin-left: 350px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    opacity: .65;
    text-shadow: 2px 2px 5px black;
     padding-top: 10px;
     
  /* margin: auto; */
}

/* a p{
    font-family: FreeMono;
    font-style: italic;
    margin-left: 50px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    opacity: .65;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
} */
img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: auto;
    width: 25%;
    padding-bottom: 25px;
}

.foreground{
background-color: black;
z-index: 1;
width: 100%;
height: 100%;
}

#plastics{
    color: white;
    font-family: FreeMono;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: .25%;
    text-decoration: none;
    opacity: .65;
    text-shadow: 2px 2px 5px black;
    margin-left: 1.25%;
    font-size: 20px;
}

#links{
  display: flex;
    margin-left: 15%;
}

#clicks{
  margin-left: 3px;
}