body, html {
    width: 100vw;
    /* height: 100vh; */
    height: 100%;
    margin: 0;
    /* margin: 100px 0 0 0; */
    padding: 0;
    
}

body {
    width: 100vw;
  
    background-image: linear-gradient(180deg, #ce4993 2%, #ee5d6c 3.8%,#fb9062 .5%)
}

canvas {
    background: teal;
    background-image: linear-gradient(180deg,#3D76E0, #00FEEF, #09EBEE, #19CEEB, #28ACEA, #388EE9, #3D76E0, blue);
    opacity: .8;
    margin-top: 50px;
    width: 100%;
    height: 97.15%;
}